/*
Colores de bootstrap:
--blue: #007bff;
--indigo: #6610f2;
--purple: #6f42c1;
--pink: #e83e8c;
--red: #dc3545;
--orange: #fd7e14;
--yellow: #ffc107;
--green: #28a745;
--teal: #20c997;
--cyan: #17a2b8;
--white: #fff;
--gray: #6c757d;
--gray-dark: #343a40;
--primary: #007bff;
--secondary: #6c757d;
--success: #28a745;
--info: #17a2b8;
--warning: #ffc107;
--danger: #dc3545;
--light: #f8f9fa;
--dark: #343a40;
*/

/*** Globales ***/
/* Estilos de las letras de las tablas. */
thead{
	font-size: 13pt;
	text-align: center;
	color: #343a40;
}
tbody{
	font-size: 12pt;
	text-align: center;
	color: #343a40;
}

/* breadcrumb */
.brea{
	margin-top: 70px;
}

/* Estilos de los iconos de las tablas. */
.icon-table{
	font-size: 18pt;
	padding: 4px;
	color: #343a40;
}
/* Imagen en las tablas. */
.image-table{
  	width: 30px;
}

.image-nav{
	width: 40px;
	margin-right: 10px;
	display: flex;
    align-items: center;
}

.prueba{
	display: flex;
    align-items: center;
}

/* Botones */
.btn-form{
	width: 110px;
}
		/*** Fin Globales ***/

/*** Vista profile. ***/
/* Pestañas. */
.nav-pills > li > a.active {
  background-color: #343a40 !important;
  color: #ffffff !important;
}
.nav-pills > li > a:hover {
  color: #6c757d !important;
}
.nav-link{
  color: #343a40;
}
.nav-item-profile{
	width: 100px;
}
/* Imagen de perfil. */
.image-profile{
	width: 200px;
  	height: 200px;
}
.image-add{
	width: 100px;
  	height: 100px;
}
/* Ancho de tarjeta de perfil */
.tab-content{
	height: 300px;
}
		/*** Fin Vista profile. ***/

/*** Errores ***/
/* Estilos de errores de Jquery-Validate */
.error{
	color: #dc3545;
}
/* Estilos de errores de Form_validation */
.error-form-validation{
	color: #6f42c1;
}
/* Alert de error de logeo */
.alert-container {
	position: fixed;
	top: 70px;
}
		/*** Fin Errores ***/

/*** Login ***/
/* Formulario de login */
.form-login{
	background: #fff;
	padding: 30px;
	border-radius: 6px;
	box-shadow: 0px 0px 30px 0px #000;
}
/* Imagen de fonde del login */
.bg-login {
	padding-top: 70px;
	background: url('../../assets/img/bg6.jpg') no-repeat fixed;
	width: 100%;
	height: 100vh;
	background-size: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
		/*** Fin Login ***/

/*** Dashboard. ***/
/* Estilos de las cajas del dashboard. */
.icon-header-cars{
	float: right;
	color: #343a40;
}
.icon-cards{
	font-size: 20pt;
	margin-right: 10px;
	float: left;
	padding: 1px;
}
.badge{
	width: 36px;
	height: 20px;
}
		/*** Fin Dashboard. ***/
